body {
    margin: 0;
    padding: 0;
    background-color: #2d2d2d !important;
    height: calc(400px - 100vh) !important;
  }
  
  #navbarmain {
    background-color: #a52d47;
    height: 150px;
    width: 100%;
    position: sticky;
    top: 0;
    
  }

 
  
  .nav-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
  }
  
  #logo {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 19.7%;
    top:-75%;

  }
  
  .nav {
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 1.5rem;
    list-style-type: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 350;
    text-decoration: none !important;
  }
  


  
  #tjenester {
    color: white;
    font-size: 16px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 300;
  }
  
  #navcontainer {
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
     margin-top: 15px;
  }

  .navbar {
    font-size: 16px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 300;
    text-decoration:none;
  }

  .navbar .nav-link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
  }


  .navbar .nav-link.active {
    border-bottom:1.5px solid #d68530;

  }

 
  .navbar .nav-link:hover {
    color: #d68530;
  }

  .navbar .dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #d68530;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
  }

 
  .navbar .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    min-width: 160px;
  }


  .navbar .dropdown-item {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  

  /* Hover effect for dropdown*/
  .navbar .dropdown-item:hover {
    color: #d68530;
  }

  .navbar .dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
  }


  /* Mobile overlay Hamburger meny */

  @media (max-width: 768px) { /*Bootstrap nav-links skaper en bug med fade-in overlay der linkene fra full-screen blir synlige, gjemmer de derfor totalt fra en gitt breakpoint(mobile)*/
    #navcontainer {
      display: none;
    }
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: hidden;
    animation: fade-in 0.6s;
    background-color: #2d2d2d;
  }


.overlay-open {
  display: block;
  pointer-events: auto;
}

.overlay-nav {
  position: fixed;
  top: 53%;
  left: 51%;
  transform: translate(-50%, -50%);
  text-decoration:none;
}

.overlaycontact {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  #overlay.open {
    overflow-y: auto;
  }
  
  #overlay .overlay-nav {
    pointer-events: auto;
  }

  /* Fade-in på hamburger fra høyre */

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  #overlay .overlay-nav .dropdown-menu {
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent !important; 
    color: white;
}
  

  .navbar-toggler {
    border: none !important;
    outline: none !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0.647, 0.176, 0.278, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    color: transparent !important;
    position: fixed;
    right: 2%;
  }
  
  .navbar-toggler-icon {
    border: none !important;
    outline: none !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0.647, 0.176, 0.278, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    color: transparent !important;
  }
  
  .overlay-toggler .navbar-toggler-icon {
  
    position:fixed;
    font-size:20px;
    margin-top:60px;
    border: none !important;
    outline: none !important;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(165,45,71, 0.9999)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    
  
    #overlay .dropdown-menu a.dropdown-item[href="https://simennysaether.no/scando/scandoland.html"] {
      font-size: 12px;
    }
    
    #overlay .dropdown-menu a.dropdown-item[href="#"] {
      font-size: 12px;
    }
  
    #overlay .dropdown-item {
      margin-top:5px;
      margin-bottom: -15px; 
      margin-left:-10px;
      font-size:12px;
    }
  
    
.overlay-toggler .navbar-toggler-icon {

  position:fixed;
  right:4%;
  top:0%;
  font-size:20px;
  border: none !important;
  outline: none !important;
  }
  .overlay-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .overlay-nav li {
    margin-bottom: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition:0.6s ease;
  }
  
  .overlay-nav li a {
    color: #E8E8E8;
    font-size: 1.2rem;
    text-decoration: none;
    font-family:'Roboto';
    transition: color 0.3s ease;
    
  }
  
  .overlay-nav li a:hover {
    color: #a52d47;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.6s ease;
  }
  
  .overlay a.nav-link:hover {
    color:#fff !important;
  }
  
  .overlaydivider {
  
    background-color:#d68530;
    height:1px;
    z-index:999;
    padding:5px;

  }
    

  /* fjerne alle elementer fra dropdown */

  .dropdown-menu {
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f8f9fa;
}

.dropdown-menu.show {
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: #a52d47; 
    color: white;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
    background-color: transparent; 
    color: white;
    text-decoration: none; 
}

.dropdown-menu a:hover {
    color: #00e0e0;
}


  .navbar-toggler {
    border: none !important;
    outline: none !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    color: transparent !important;
    position:absolute;
    right:2%;
  }
  
  .navbar-toggler-icon {
    border: none !important;
    outline: none !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    color: transparent !important;
  }
  

.heading4 {
  margin-left:-100px;
  margin-bottom:20px;
  margin-top:25px;
  color:white;
  font-family:'Roboto';
  font-weight: lighter;
}

.paragraf4 {
  color:white;
  font-family:'Roboto';
  font-weight: lighter;
  line-height: 1.9em;
  font-size:15px;
  margin-top:20px;
}





.heading2, .paragraf2 {
  margin-top:20px;
  color:white;
  color: white;
  font-weight: lighter;
}

.heading3, .paragraf3 {
  margin-top:0px;
  color:white;
  color: white;
  font-weight: lighter;
}

.paragraf3 {
  padding-bottom:50px;
}

  
 #landingstekst {
  width:100%;
 z-index:5;
 margin-top:-110px;
 }

 #landingstekst2 {
  z-index:5;
  margin-top:-130px;
 }

 #landingstekst3 {
  z-index:-1;
  margin-top:-50px;
 }



 #imgwrapper {
  justify-content: center;
  align-items:center;
  display:flex;
  margin-top:30px;
 }

 #biowrapper {
  margin-top:20px;
display:flex;
justify-content: center;
align-items:center;
flex-direction:column;
height:70vh;
 }

 .heading {
  margin-top:20px;
  font-size:50px;
 }


 .heading2 {
  font-size:50px;
 }

  .dividercontainer {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .divider {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#a52d47;
    height:1px;
    z-index:999;
    padding:1px;
    min-width:70%;
    margin-top:50px;    
    position:absolute;
  }

  #input {
    width:60%;
  }

  /* FOoter */
  
  .footermain {
 color:white;
 position:sticky;
 bottom:0;
 left:0;
 right:0;
  }


  #telefon:hover, #hus:hover, #brev:hover {
    color:#a52d47;
    transition:0.3s ease;
    cursor:pointer;
  }
  
.text-reset {
  text-decoration:none;
}

.text-reset:hover {
  color:#a52d47;
}

.a text-reset:hover {
  color:#a52d47;
  
}
  .heading,
  .paragraf {
    color: white;
    font-weight: lighter;
  }

  .headingom, .paragrafom {
    color:white;
    font-weight:lighter;
    font-family:'Roboto';
    line-height:1.9em;
  }

  

  .kontaktoss, .contactoss {
    color:white;
    font-weight:lighter;
  }




  /* Om oss -seksjon */ 

  #aboutus {
    margin-left:-70px;
  }

#om {
  margin-top:50px;
  margin-left:-20px;
  height:550px; 
  width:650px;
}

.bioheading {
  font-size:60px;
  color:white;
  font-weight: bold;
  font-family:'Roboto';
}

.wbio {
  color:white;
  font-weight:lighter;
  font-family:'Roboto';
  line-height:1.9em;
  width:100%;
  font-size:18px;
}

#aboutus {
  width:900px;
}



/* Referanser + karusell */
#referanser {
height:800px;
width:400px;
 
    z-index:-1;
}
.carousel-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    z-index:-1;
  }

  .carousel-item {
    left:5%;
    z-index:-1;
  }

.cardwrapper {
   position:absolute;
   top:30%;
   left:22.5%;
   z-index:-1;
}


.stars {
    color:gold;
}

#headshot1 {
    max-height:170px;
}
  .card {
    position:absolute;
    z-index:999;
    opacity:100%;
    box-shadow: 5px 5px 5px 10px
    
  }


  /* Socials (ig, twitter, gith) */ 

  .socialswrapper {
    text-decoration:none;
  }

  .socialslogo {
    font-size:30px;
    text-decoration:none;
    margin:5px;
  }

  .socialslogo {
    color: inherit;
    text-decoration: none;
    transition: color 0.6s ease;
  }
  
  .socialslogo:hover {
    color: #a52d47;
  }



    .containerwrapper {
        max-width: 600px;
        margin: 0 auto;
   
        
      }

/* Overlay socials */


.overlaysocials {
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:52px;
  z-index:999;
}

/* overlay footer*/ 
.overlaysocials2 {
  position: absolute;
  bottom: 10%;
  left: 51.7%;
  transform: translateX(-50%);
}

.overlayicons2 {
  justify-content: center;
  align-items:center;
}

.overlaysocials2 a {
  font-size:20px;
}

.overlaysocials2 a.overlayicons2 {
  text-decoration: none !important;
}

.overlaysocials a {
  text-decoration: none; 
  transition: color 0.6s ease; 
  font-size:25px;
  margin:8px;
}


.overlaysocials a i {
  transition: color 0.3s ease; 
  
}


/* Gradient socials */ 
.overlayicons, .overlayicons2 {
    background: linear-gradient(135deg, hsla(0, 0%, 91%, 1) 0%, hsla(347, 57%, 41%, 1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }




 /* google maps */
.mapwrap {
  height:380px;
  margin-left:20px;
}
    
  /* Kontaktskjema - */ 

  #contactformwrapper {
    height:90vh;
    display:flex;
    justify-content: center;
    align-items:center;
  }


  #kontaktcontainer {
    height:calc(150px - 100vh);
  }
      .kontaktoss {
        font-size: 24px;
        margin-bottom: 10px;
      }
    

      .contactoss {
        font-size: 16px;
        margin-bottom: 20px;
      }
    

      .form-label {
        font-weight: bold;
        font-size: 18px;
        color:white;
      }
    

      .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
      }
    

      .form-control textarea {
        resize: vertical;
      }
    
 
      .submit-button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    

      .submit-button:hover {
        background-color: #45a049;
      }

      #emojis {
        color:#a52d47;
      }

      #sendknapp {
        background-color:#a52d47;
        border:none;
        width:15%;
      }

      #sendknapp:hover {
        background-color:#d68530;
      }

/* Media queries Logo plassering */



  @media (max-width: 1650px) {
    #logo {
      left: 10%;
      position:absolute;
    }
  }
  
  @media (max-width: 1440px) {
    #logo {
        left: 10%;
        position:absolute;
    }
  }

  @media (max-width: 1360px) {
    #logo {
        left: 5%;
        position:absolute;
    }
  }

  @media (max-width: 1200px) {
    #logo {
        left: 2.5%;
        position:absolute;
    }
  }

  @media (max-width: 1130px) {
    #logo {
        left: 0%;
        position:absolute;
    }
  }

  @media (max-width: 767px) {
    #logo {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .paragraf, .paragraf2, .paragraf3 {
      font-size:12px;
      font-weight:light;
    }

    .mapwrap {
      height:150px;
      width:100%;
      margin-left:-3px;
      margin-bottom:5px;
    }

   .heading4 {
   margin-left:-10%;
   } 

   .paragraf4 {
    font-size:14.5px;
    line-height:1.6em;
    justify-content: center;
    align-items:center;
   }

   #biowrapper {
    justify-content: center;
    display:flex;
   }

   #aboutus {
    justify-content: center;
    align-items:center;
    margin-left:-5px;
   }

   #contactformwrapper {
    margin-top:60px;
  }


  }                                                                                                                                                                   

  @media (max-width: 896px) {
    #logo {
      left: 45%;
      transform: translate(-50%, -50%);
      top:42%;
    }
  }



  /* media queries for footer mobil */
  @media (max-width: 767px) {
    .text-uppercase {font-size:10px;}
    #oppdrag {font-size:10px;}
    .socialslogo {font-size:20px;}
a.text-reset {font-size:10px;
}

#footercontactinfo {
  font-size:10px;
}

.text-reset {
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  display:none;
}

#footertjenester, #footerlenker {
  display:none;
}

#lenker {
  display:none;
}
#hus, #brev, #telefon {
  font-size:12px;
}

.divider {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#a52d47;
  height:1px;
  z-index:999;
  padding:1px;
  min-width:90%;
  margin-top:50px;    
  position:absolute;
}

.cardwrapper {
  position:absolute;
  top:70%;
  margin-bottom:100px;
}


  }





  @media (min-width: 1200px) {
#landingstekst {
  position:absolute;
  top:40.5%;
  left:50%;
  width:40%;
  
}

#landingstekst2 {
  position:absolute;
  top:100%;
  left:50%;
  width:40%;
}

#landingstekst3 {
  position:absolute;
  top:150%;
  left:50%;
  width:40%;
}
  }




  
  
  