body {
    margin: 0;
    padding: 0;
 min-height: 100vh; 
    background-color: 	#2D2D2D !important;
    
  }
  


#navbarmain {
    background-color: #a52d47;
    height:150px;   
}

#logo {
    position:absolute;
    width:350px;
    height:350px;
    overflow:hidden;
    left:18%;
    margin-bottom:20px;
}

.nav {
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 1.5rem;
    list-style-type: none;
    color:	white;
    font-size:20px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight:350;


  }

  #navcontainer {
    margin-top:15px;
  }

  #tjenester {
    color:white;
    font-size:20px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight:300;
  }
  
  #navcontainer {
    display:flex;
    justify-content: center;
    align-items:center;
  }

  #landing {
    display:flex;
    justify-content:start;
    align-items:center;
    height: calc(100vh - 150px);
    overflow:hidden;
  }

  #blink {
    width:600px;
    height:600px;
  }

  .footer {
    height:100px;
    width:100%;
    color:#100407;
    z-index:999;
  }


.heading, .paragraf {
    color:white;
}